<div class='container flex flex-col items-center justify-center max-w-screen-sm h-screen mx-auto gap-4'>
  <h1 class='text-4xl font-bold'>Planedo</h1>
  <p class='text-center'>Estamos planejando e construindo para em breve atendê-los!</p>
  <%= image_tag 'undraw_under_construction_46pa.png', alt: 'Under Construction' %>
  <p class='text-gray-400 italic text-sm'>Sendo planejado e construído por Hudson Dias, em 2023.</p>
</div>
